@import url("fonts.css");

#contact_hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0 100px;
        padding: 10px;
        color: black;
    }

    .grid__item {
        display: inline-block;
        width: 33%;
        background-color: rgb(121, 121, 121);
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 20px;
    }
}