@import url(styles.css);

* {
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    z-index: 100;
    top: 0;
    height: 250px;
}

body {
    background-color: var(--bg-color);
    font-family: "NunitoSans";
    font-weight: 500;
    font-size: 21px;
    width: 100%;
}

h1 {
    font-family: "Lulo-1";
    color: var(--h1-color);
    font-size: 50px;
    font-weight: 700px;
}

h2 {
    font-family: "Lulo-1";
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-family: "Lulo-1";
    font-size: 18px;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: "Lulo-1";
    font-size: 16px;
}

ul {
    list-style: none;
    background-color: var(--secondary-bg-color);
    width: 100%;
    padding: 15px;
    position: relative;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

@supports (display: flex) {
    .branding {
        font-family: "Lulo-1";
        font-size: 30px;
        color: #fff;
        margin-right: auto;
        margin-left: 2%;
        padding: 20px;
    }

    .menubar {
        margin-left: auto;
        line-height: normal;
    }

    .navigation-list__item--active {
        color: var(--primary-color);
        font-family: "Lulo-1";
        font-size: 25px;
    }

    .navigation-list__item {
        color: #fff;
        font-size: 25px;
    }

    @media all and (max-width: 500px) {

        header {
            flex-direction: column;
        }

        .branding {
            display: none;
        }
        
        .navigation-list__item--active {
            font-size: 15px;
        }

        .navigation-list__item {
            font-size: 15px;
        }

    }
}

.global_hero {
    z-index: 10;
}

:is(.button, .button_primary) {
    border-radius: 50px;
    padding: 20px;
    box-shadow: 2px 2px 4px #000000;
    border: none;
    font-family: "Lulo-1";
    margin-block: 10px;
}

.button:hover,
.button:focus,
.button_primary:hover,
.button_primary:focus {
    color: #fff;
    background-color: #000000;
    transition: ease-in-out;
    transition-duration: 0.2s;
}

button:visited {
    /* visited link */
    color: #05676e;
}

button:active {
    /* selected link */
    color: #489c79;
}

footer {
    display: flex;
    justify-content: center;
    margin-block: 30px;
}

footer,
a {
    margin-inline: 20px;
}