@import url("fonts.css");
@import url(styles.css);

/*tag css*/

html {
    scroll-behavior: smooth;
    scroll-padding-top: 30px;
}

* {
    box-sizing: border-box;
}

header {
    position: absolute;
    z-index: 10;
    padding-top: 3em;
    width: 100%;
    background: var(--bg-color);
    font-family: "Lulo-1";
    height: 55px;
    display: grid;
    align-items: center;
}

li {
    display: inline-block;
    padding-inline: 10px;
}

a {
    text-decoration: none;
    color: white
}

:is(main, section) {
    position: relative;
    width: 100%;
}

section {
    display: grid;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lulo-1";
    font-size: 35px;
    margin-inline: auto;
    z-index: 10;
}

h3,
h5,
h6 {
    font-size: 20px;
}

p {
    font-family: "NunitoSans";
    text-align: center;
    max-width: 700px;
    font-size: 20px;
    text-align: left;
}

@media screen and (max-width: 1400px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        font-size: 100%;
        max-width: 700px;
    }

    h2, h4, h5 {
        margin: 10% auto 5%;
    }
}

span,
li {
    font-family: "NunitoSans";
}

ul {
    display: contents;
}

/*class css*/
.static-clouds-left {
    width: 50vw;
    position: absolute;
    bottom: -30vh;
    left: -20vw;
}

.static-clouds-right {
    width: 50vw;
    position: absolute;
    bottom: -30vh;
    right: -20vw;
    rotate: 305deg;
}

@keyframes cloud-move {
    0% {
        transform: translate(-30vw, 50px);
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translate(100vw, 50px);
        opacity: 1;
    }
}

.dyn-clouds {
    width: 30vw;
    position: absolute;
    animation: 50s cloud-move infinite linear;
    z-index: 2;
}


@supports (display: block) {
    .branding {
        position: absolute;
        text-align: left;
        color: white;
        left: 1.75rem;
    }

    .navigation-list__item--active,
    .navigation-list__item {
        font-family: "Lulo-1";
    }
}


.menubar {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    right: 1.75rem;
}

.fitscreen {
    height: 100vh;
}

.title {
    display: grid;
    justify-items: center;
}

.info-p {
    line-height: 1.5;
    max-width: 500px;
}

.about-hero {
    display: inline-flex;
}

:is(.about-info, .about-skills) {
    max-width: 50%;
    padding: 30px;
}

.about-skills {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    background-color: var(--bg-color);
    color: #ffff;
    padding: 10px;
    border-radius: 5px;
    margin-right: 15px;
}

.tags {
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    background: rgba(153, 153, 153, .2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.skill-arr {
    display: flex;
    flex-wrap: wrap;
}

.skill-arr {
    margin-top: 30px;
    display: grid;
}

.proj-arr,
.form-arr,
.grid_item {
    display: grid;
}

.project-layout {
    display: inline-flex;
    margin: 1rem;
}

.sub-layout {
    display: flex;
    flex-direction: column;
}

.proj-header {
    margin-inline: unset;
}

.proj-desc {
    width: 375px;
    margin: 0 50px 0 0;
    font-family: "NunitoSans";
    line-height: 1.5;
    font-size: 16px;
}

.web-link {
    width: 110px;
    padding: 10px 20px;
    margin-top: 20px;
    border: none;
    background: #facf0f;
    border-radius: 5px;
    color: #333;
    font-family: "NunitoSans";
}

.proj-card {
    background-size: cover;
    width: 450px;
    height: 240px;
    border-radius: 5px;
}

.form-arr {
    background-color: #ffff;
    border-radius: 5px;
    max-width: 80rem;
    text-align: right;
    width: 95%;
    min-width: 70vh;
    justify-self: center;
    padding: 2rem;
    font-family: "NunitoSans";
}

.grid_item {
    padding: 1rem;
}

.standard-label {
    justify-self: baseline;
    margin-bottom: 15px;
}

.input-area {
    color: #333;
    width: 100%;
    border: 1px solid #ebebeb;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    padding: 20px;
    max-width: 95%;
}

.submit-button {
    width: 30%;
    padding: 10px 20px;
    margin-inline: auto;
    border: none;
    background: #facf0f;
    border-radius: 5px;
    color: #333;
    font-family: "NunitoSans";
}

@media screen and (max-width: 900px) {

    .branding {
        display: none;
    }

    .menubar {
        right: unset;
        font-size: 10px;
        display: flex;
        justify-self: center;
    }

    .info-p {
        line-height: 1.5;
        max-width: unset;
    }

    .about-hero {
        flex-direction: column;
        align-items: center;
    }

    :is(.about-info, .about-skills) {
        padding: 20px;
    }

    .skill-arr {
        margin-top: 10px;
    }

    .list {
        margin: unset;
    }

    :is(.about-info, .about-skills) {
        max-width: unset;
    }

    .proj-arr {
        width: 100%;
    }

    .project-layout {
        flex-direction: column;
        margin-inline: 5%;
    }

    .proj-desc {
        margin: unset;
        width: unset;
    }

    .proj-card {
        display: none;
    }

    .form-arr {
        min-width: 30vh;
        padding: unset;
    }

    .input-area {
        width: unset;
    }

    .submit-button {
        margin: 30px auto;
    }
}


/*id css*/

#section-intro {
    background: linear-gradient(#f5f9fc, #91bfc8);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-content: center;
    overflow: hidden;
}

#section-about {
    justify-content: center;
    background: linear-gradient(to right, rgb(244 244 244), rgb(242 242 242))
}

#contact-me {
    margin: 0 0 30px 30px;
    display: flex;
    width: 100px;
    justify-content: center;
}


#landing-desc {
    text-align: center;
}

#section-proj {
    justify-content: center;
}

#section-contact {
    justify-content: center;
    background: linear-gradient(to right, rgb(244 244 244), rgb(242 242 242))
}

@media screen and (max-width: 900px) {

    #section-about, #section-proj, #section-contact {
        display: flex;
        flex-direction: column;
        justify-content: unset;
    }

    #landing-desc {
        margin-inline: 30px;
    }

    #skill-svg {
        height: 20vh;
    }

    #contact-me {
        margin: unset;
        width: 200px;
    }
}