@import url("fonts.css");
@import url(styles.css);
/*tag css*/
header {
    position: absolute;
    z-index: 10;
    padding-top: 3em;
    width: 100%;
    background: var(--bg-color);
    font-family: "Lulo-1";
    height: 55px;
    display: grid;
    align-items: center;
}

li {
    display: inline-block;
    padding-inline: 10px;
}

a {
    text-decoration: none;
    color: white
}

:is(main, section) {
    position: relative;
    width: 100%;
}

section {
    display: grid;
    align-items: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lulo-1";
    font-size: 35px;
    margin-inline: auto;
}

h3, h5, h6 {
    font-size: 20px;
}

p {
    font-family: "NunitoSans";
    text-align: center;
    max-width: 700px;
    font-size: 20px;
    text-align: left;
}

span, il {
    font-family: "NunitoSans";
}
ul {
    display: contents;
}
/*class css*/
@supports (display: block) {
    .branding {
        position: absolute;
        text-align: left;
        color: white;
        left: 1.75rem;
    }

    @media screen and (max-width: 1400px) {
        .branding {
           display: none;
        }
    }
    .menubar {
        position: absolute;
        z-index: 10;
        cursor: pointer;
        right: 1.75rem;
    }

    @media screen and (max-width: 1400px) {
        .menubar {
            right: unset;
            font-size: 15px;
            display: flex;
            justify-self: center;
        }
    }
}

.fitscreen {
    height: 100vh;
}

.title {
    display: grid;
    justify-items: center;
}

.info-p {
    line-height: 1.5;
    max-width: 500px;
}
.about-hero {
    display: inline-flex;
}
:is(.about-info, .about-skills) {
    max-width: 50%;
    padding: 30px;
}

.list {
    background-color: var(--bg-color);
    color: #ffff;
    padding: 5px;
    border-radius: 5px;
    margin-right: 15px;
}

.tags {
    padding: 10px 20px;
    margin-bottom: 15px;
    margin-right: 15px;
    background: rgba(153,153,153,.2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}

.skill-arr {
    display: flex;
    flex-wrap: wrap;
}

.skill-arr {
    margin-top: 30px;
    display: grid;
}

.proj-arr, .form-arr {
    display: grid;
}

.project-layout {
    display: inline-flex;
    margin: 1rem;
}
.proj-desc {
    width: 375px;
    margin: 0 50px 0 0;
    font-family: "NunitoSans";
    line-height: 1.5;
    font-size: 16px;
}

.proj-card {
    background-size: cover;
    width: 450px;
    height: 240px;
    border-radius: 5px;
}

.form-arr {
    background-color: #ffff;
    border-radius: 5px;
    max-width: 80rem;
    text-align: right;
    width: 95%;
}

/*id css*/
#section-about {
    justify-content: center;background: linear-gradient(to right,rgb(244 244 244),rgb(242 242 242))
}
#section-intro {
    background: linear-gradient(#f5f9fc, #91bfc8);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-content: center;
}
#landing-desc {
    text-align: center;
}
#section-proj {
    justify-content: center;
}

#section-contact {
    justify-content: center;background: linear-gradient(to right,rgb(244 244 244),rgb(242 242 242))
}