@import url("fonts.css");

#work_hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
        margin: 0 100px;
        padding: 10px;
        color: black;
    }

    .grid__item {
        display: inline-block;
        width: 33%;
        background-color: rgb(121, 121, 121);
        width: auto;
        min-height: auto;
        margin: 0;
        padding: 20px;
    }

    .grid__item:last-child {
        grid-column: 3 / 3;
        grid-row: 1 / 3;
    }


    @media all and (max-width: 500px) {
        .grid {
            grid-template-columns: 1fr;
        }
    }

    @media all and (min-width: 500px) and (max-width: 750px) {
        .grid {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media all and (max-width: 750px) {
        .grid {
            grid-gap: 10px;
        }

        .grid__item:last-child {
            grid-column: auto / auto;
            grid-row: auto / auto;
        }

        h1 {
            font-size: 22px;
        }
    }
}


@keyframes color-change {
    0% {
        fill: #edc655;
    }

    50% {
        fill: #ebdf72;
    }

    100% {
        fill: #f76414;
    }
}

.sun {
    animation: 15s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
        fill: aqua;
    }

    to {
        transform: translate(500px, 50px);
        fill: #edc655;
    }
}

.cloud-front {
    animation: 45s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}